.nav {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__opt {
    font-size: var(--default-font-size);
    font-family: inherit;
    text-decoration: none;
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 10rem;
    background-color: #1c1a1e;
    color: white;
    transition: all 0.3s;

    &.active {
      background-color: var(--color-primary);
      color: white;
    }
  }
}
