<!-- <header class="header">
  <div class="logo-nav">
    <div class="logo_snakehackx"></div>
    <shared-nav></shared-nav>
  </div>

  <shared-button
    (buttonClick)="goToSection('contact')"
    textContent="Contáctame"
    buttonType="secondary"
  ></shared-button>
</header> -->

<header class="header">
  <!-- <a href="#" class="logo">Logo</a> -->

  <nav class="navbar">
    <a href="#">Inicio</a>
    <a href="#about">Sobre mí</a>
    <a href="#skills">Habilidades</a>
    <a href="#projects">Proyectos</a>
    <a href="#contact">Contacto</a>
  </nav>
</header>
