header {
  margin: 2rem auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2rem);
  border-radius: 20rem;
  padding: 1rem 2rem;
  z-index: 50;
  border-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 1rem 2rem rgba(#000, 0.2);
}

.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;

  & > * {
    cursor: pointer;
    padding: 0 2rem;
    text-decoration: none;
    font-size: 1.7rem;
    transition: all 0.2s;

    padding: 1rem 2rem;
    border-radius: 20rem;
    color: #eee;
    text-decoration: none;
    background-color: transparent;
  }

  & > *:hover {
    background-color: var(--color-white);
    color: #000;
  }
}
