@import "../../../../scss/mixins.scss";

header {
  margin: 2rem auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2rem);
  border-radius: 20rem;
  padding: 0.5rem 1rem;
  z-index: 50;
  border: 0.1rem solid;
  border-color: #222222;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 1rem 2rem rgba(#000, 0.5);

  @include respond(phone) {
    display: none;
  }
}

.menu-btn {
  cursor: pointer;
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;

  @include respond(phone) {
    display: block;
  }
}

.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;

  & > * {
    cursor: pointer;
    // padding: 0 2rem;
    text-decoration: none;
    font-size: 1.7rem;
    transition: all 0.2s;

    width: 14rem;
    text-align: center;

    padding: 0.5rem 1rem;
    border-radius: 20rem;
    color: #eee;
    text-decoration: none;
    background-color: transparent;
  }

  & > *:hover {
    background-color: var(--color-white);
    color: #000;
  }
}

.mobile-navbar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5rem);
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  overflow: hidden; // Evitar mostrar contenido externo durante animación
  max-height: 0; // Iniciar sin mostrar contenido
  transition: max-height 0.5s ease, opacity 0.5s ease; // Suavizar transición de altura y opacidad
  opacity: 0; // Iniciar transparente
  z-index: 99;

  a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
  }

  &.open {
    max-height: 500px; // Ajusta según el contenido necesario
    opacity: 1; // Completamente visible
  }
}
