.header {
  padding: 5rem 3rem 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 10;
  align-self: stretch;

  height: 0;
  position: absolute;
  width: 100%;

}

.logo_snakehackx {
  cursor: pointer;
  background-image: url("../../../../assets/icons/social/logo_skahehackx.svg");
  width: 5rem;
  height: 5rem;
  border-radius: 20rem;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.5);
  }
}

.logo-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}
