:host {
  width: 100vw;
  height: 100vh;
}

.section-project-hero {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: top;
  position: relative;
  height: 100vh;
  // transform: translateY(-100px);

  // z-index: -1;

  h3 {
    margin-top: 0;
  }

  &__subheading {
    font-weight: 100;
    font-size: 3.5rem;
    margin-bottom: -1rem;
  }

  &__developing {
    margin-top: 0;
    color: var(--color-primary-light);
  }

  &__box {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 40%;
    // transform: tran slate(20%, -30%);

    text-align: left;

    p {
      margin-top: 2rem;
      margin-bottom: 4rem;
      color: var(--color-white);
    }
  }

  &__buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: left;
    gap: 2rem;
  }

  .btn-back {
    position: absolute;
    top: 10%;
    left: 5%;
  }
}

.section-required-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.required-skills {
  display: grid;
  grid-gap: 5rem;
  // column-gap: 5rem;
  margin: 2rem auto;
}

.section-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
