<div class="container">
  <div class="slide">
    <div
      class="slide__item"
      *ngFor="let project of projects; let i = index"
      [ngStyle]="{ 'background-image': 'url(' + project.poster + ')' }"
      [class.active]="isActive(i)"
      [class.next]="isNext(i, 1)"
      [class.next2]="isNext(i, 2)"
      [class.next3]="isNext(i, 3)"
    >
      <div *ngIf="isActive(i)" class="content">
        <h1 class="project-title">{{ project.heading }}</h1>
        <h3 class="developing" *ngIf="project.develping">En desarrollo</h3>
        <div class="project-description">
          {{ project.description }}
        </div>
        <shared-button
          [routerLink]="['/projects', project.id]"
          textContent="Ver Más"
          buttonType="primary"
        ></shared-button>
      </div>
    </div>
    <div class="slider-buttons">
      <button class="prev slider-buttons__btn" (click)="onPrev()">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <button class="next slider-buttons__btn" (click)="onNext()">
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
