@import "../scss/typography";
@import "../scss/mixins";

:root {
  --color-background: #08091d;
  --color-primary: #4a06f6;
  --color-primary-light: #8255f4;
  --color-primary-dark: #1e0069;
  --color-grey-light-1: #f7f7f7;
  --color-dark-grey: #777;
  --color-white: #fff;
  --color-black: #000;
  --default-font-size: 1.6rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
}

.paragraph {
  font-size: var(--default-font-size);
}
