<main>
  <section class="section-hero">
    <div class="section-hero__box">
      <h1 class="section-hero__heading">
        Transformando Ideas en Experiencias Digitales Únicas
      </h1>
      <h3>
        Ingeniero en Sistemas y Computación, Desarrollador Full Stack &
        Diseñador UI/UX
      </h3>
      <div class="section-hero__buttons">
        <shared-button
          textContent="Mis Proyectos"
          buttonType="primary"
        ></shared-button>
        <shared-button
          textContent="Conóceme"
          buttonType="secondary"
        ></shared-button>
      </div>
    </div>
  </section>

  <section class="section-about">
    <div class="section-about__image-text-container">
      <img
        src="../../../assets/images/developer.jpg"
        alt=""
        class="section-about__image"
      />
      <div class="section-about__text">
        <shared-section-heading textContent="sobre mi"></shared-section-heading>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur. Egestas libero rhoncus commodo
          ac. Condimentum habitant lacus id condimentum duis nulla et neque
          consectetur. Arcu massa enim lacus vitae fringilla purus ut viverra.
          Nec in vel senectus pulvinar quisque. Auctor vitae amet magna
          adipiscing nisl. Purus proin pharetra viverra ut magna sagittis vitae
          fermentum. Vel amet pulvinar dignissim amet nisi. Vestibulum ut
          ultrices scelerisque pulvinar imperdiet. Est in neque aliquam lectus.
          Amet morbi et vel amet pulvinar elementum semper pellentesque et.
        </p>
        <div class="section-about__social">
          <shared-logo-icon text="GitHub" iconName="icon-github" />
          <shared-logo-icon text="LinkedIn" iconName="icon-in" />
          <shared-logo-icon text="Instagram" iconName="icon-ig" />
        </div>
      </div>
    </div>
    <div class="align-grid-to-center">
      <div class="section-about__info-container">
        <div class="section-about__info__education">
          <h2>Educación</h2>
          <div class="info-item">
            <strong>Ingeniería en Sistemas y Computación</strong>
            <p>Universidad Tecnológica de Panamá / Azuero / 2018 - presente</p>
          </div>

          <div class="info-item">
            <strong>ELS Language Centers</strong>
            <p>After School Program / ACP Las Tablas / 2017</p>
          </div>

          <div class="info-item">
            <strong>Educación Secundaria - Bachillerato Científico</strong>
            <p>Colegio Manuel María Tejada Roca / Las Tablas / 2012 - 2017</p>
          </div>

          <div class="info-item">
            <strong>Educación Primaria</strong>
            <p>Escuela Presidente Porras / Las Tablas / 2012 - 2017</p>
          </div>
        </div>

        <div class="section-about__info__achievements">
          <h2>Logros</h2>
          <div class="info-item">
            <strong>Olimpiadas de Física a nivel regional</strong>
            <p>2017 / Pasé de ronda</p>
          </div>

          <div class="info-item">
            <strong>Olimpiadas de Física a nivel nacional</strong>
            <p>2017</p>
          </div>

          <div class="info-item">
            <strong>Cybertech Latin America - TechPrendedores</strong>
            <p>Proyecto <a href="#">FindAPro</a> / Segundo Lugar / 2023</p>
          </div>
        </div>

        <div class="section-about__info__hobbies">
          <h2>Aficiones</h2>
          <div class="section-about__info__hobby-grid">
            <shared-logo-icon text="Programación" iconName="icon-programming" />
            <shared-logo-icon
              text="Diseño Gráfico"
              iconName="icon-graphic-design"
            />
            <shared-logo-icon
              text="Aprendizaje de Idiomas"
              iconName="icon-language-learning"
            />
            <shared-logo-icon text="Videojuegos" iconName="icon-videogames" />
            <shared-logo-icon text="Fútbol" iconName="icon-football" />
            <shared-logo-icon text="Música" iconName="icon-music" />
            <shared-logo-icon text="Cocina" iconName="icon-cooking" />
          </div>
        </div>

        <div class="section-about__info__lang">
          <h2>Idiomas</h2>
          <div class="language-item">
            <div class="language-item__flag">
              <shared-logo-icon iconName="icon-flag-pan" />
            </div>
            <div class="language-item__text">
              <strong>Español</strong>
              <p>Nativo</p>
            </div>
          </div>

          <div class="language-item">
            <div class="language-item__flag">
              <shared-logo-icon iconName="icon-flag-usa" />
            </div>
            <div class="language-item__text">
              <strong>Inglés</strong>
              <p>Intermedio</p>
            </div>
          </div>

          <div class="language-item">
            <div class="language-item__flag">
              <shared-logo-icon iconName="icon-flag-jp" />
            </div>
            <div class="language-item__text">
              <strong>Japonés</strong>
              <p>Básico</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-skills">
    <shared-section-heading textContent="habilidades"></shared-section-heading>
    <div class="section-skills__buttons">
      <shared-button
        textContent="Frondend"
        buttonType="secondary"
      ></shared-button>

      <shared-button
        textContent="Backend"
        buttonType="secondary"
      ></shared-button>

      <shared-button
        textContent="Programación"
        buttonType="secondary"
      ></shared-button>

      <shared-button
        textContent="Herrramientas"
        buttonType="secondary"
      ></shared-button>

      <shared-button
        textContent="Videojuegos"
        buttonType="secondary"
      ></shared-button>

      <shared-button textContent="Otras" buttonType="secondary"></shared-button>
    </div>
    <div class="section-skills__grid-container">
      <div class="skills-grid skills-frontend">
        <shared-logo-icon text="HTML" iconName="icon-html" />
        <shared-logo-icon text="CSS" iconName="icon-css" />
        <shared-logo-icon text="SASS" iconName="icon-sass" />
        <shared-logo-icon text="Angular" iconName="icon-angular" />
        <shared-logo-icon text="Flutter" iconName="icon-flutter" />
      </div>

      <div class="skills-grid skills-backend">
        <shared-logo-icon text="NodeJS" iconName="icon-node" />
        <shared-logo-icon text="NestJS" iconName="icon-nest" />
        <shared-logo-icon text="GraphQL" iconName="icon-graphql" />
        <shared-logo-icon text="MongoDB" iconName="icon-mongo" />
        <shared-logo-icon text="PostgreSQL" iconName="icon-postgres" />
        <shared-logo-icon text="SQL Server" iconName="icon-sql-server" />
      </div>

      <div class="skills-grid skills-programming">
        <shared-logo-icon text="C#" iconName="icon-csharp" />
        <shared-logo-icon text="C++" iconName="icon-c++" />
        <shared-logo-icon text="Dart" iconName="icon-dart" />
        <shared-logo-icon text="Python" iconName="icon-python" />
        <shared-logo-icon text="TypeScript" iconName="icon-ts" />
        <shared-logo-icon text="Visual Basic .NET" iconName="icon-vb" />
        <shared-logo-icon text="Arduino" iconName="icon-arduino" />
      </div>

      <div class="skills-grid skills-tools">
        <shared-logo-icon text="Docker" iconName="icon-docker" />
        <shared-logo-icon text="Git" iconName="icon-git" />
        <shared-logo-icon text="VS Code" iconName="icon-vscode" />
        <shared-logo-icon text="Visual Studio" iconName="icon-vs" />
        <shared-logo-icon text="Postman" iconName="icon-postman" />
        <shared-logo-icon text="Power BI" iconName="icon-powerbi" />
      </div>

      <div class="skills-grid skills-design">
        <shared-logo-icon text="Adobe XD" iconName="icon-adobexd" />
        <shared-logo-icon text="Blender" iconName="icon-blender" />
        <shared-logo-icon text="Figma" iconName="icon-figma" />
        <shared-logo-icon text="Photoshop" iconName="icon-ps" />
      </div>

      <div class="skills-grid skills-games">
        <shared-logo-icon text="Unity" iconName="icon-unity" />
        <shared-logo-icon text="Game Design Document" iconName="icon-gdd" />
        <shared-logo-icon
          text="Diseño de Videojuegos"
          iconName="icon-game-design"
        />
      </div>

      <div class="skills-grid skills-other">
        <shared-logo-icon text="Comprometido" iconName="icon-commited" />
        <shared-logo-icon text="Liderar Proyectos" iconName="icon-leader" />
        <shared-logo-icon text="Aprender" iconName="icon-learn" />
        <shared-logo-icon text="Enseñar" iconName="icon-teach" />
        <shared-logo-icon text="Organizado" iconName="icon-organized" />
        <shared-logo-icon text="Trabajo en Equipo" iconName="icon-teamwork" />
      </div>
    </div>
  </section>

  <section class="section-projects">
    <shared-section-heading textContent="proyectos"></shared-section-heading>
    <div class="section-projects__buttons">
      <shared-button
        textContent="Páginas Web"
        buttonType="secondary"
      ></shared-button>

      <shared-button
        textContent="Apps Móviles"
        buttonType="secondary"
      ></shared-button>

      <shared-button
        textContent="Diseños"
        buttonType="secondary"
      ></shared-button>

      <shared-button
        textContent="Videojuegos"
        buttonType="secondary"
      ></shared-button>

      <shared-button
        textContent="Ingeniería"
        buttonType="secondary"
      ></shared-button>

      <shared-button textContent="Otros" buttonType="secondary"></shared-button>
    </div>

    <shared-project-slider></shared-project-slider>
  </section>

  <footer class="footer">FOOTER</footer>
</main>
