<main>
  <section class="section-hero">
    <div class="section-hero__box">
      <h1 class="section-hero__heading">
        Transformando Ideas en Experiencias Digitales Únicas
      </h1>
      <h3>
        Ingeniero en Sistemas y Computación, Desarrollador Full Stack &
        Diseñador UI/UX
      </h3>
      <div class="section-hero__buttons">
        <shared-button
          textContent="Mis Proyectos"
          buttonType="primary"
        ></shared-button>
        <shared-button
          textContent="Conóceme"
          buttonType="secondary"
        ></shared-button>
      </div>
    </div>
  </section>

  <section class="section-about">
    <!-- <div class="section-about__box"> -->
    <img
      src="../../../assets/images/developer.jpg"
      alt=""
      class="section-about__image"
    />
    <div class="section-about__text">
      <shared-section-heading textContent="sobre mi"></shared-section-heading>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur. Egestas libero rhoncus commodo
        ac. Condimentum habitant lacus id condimentum duis nulla et neque
        consectetur. Arcu massa enim lacus vitae fringilla purus ut viverra. Nec
        in vel senectus pulvinar quisque. Auctor vitae amet magna adipiscing
        nisl. Purus proin pharetra viverra ut magna sagittis vitae fermentum.
        Vel amet pulvinar dignissim amet nisi. Vestibulum ut ultrices
        scelerisque pulvinar imperdiet. Est in neque aliquam lectus. Amet morbi
        et vel amet pulvinar elementum semper pellentesque et.
      </p>
      <!-- TODO: redes sociales -->
      <div class="section-about__social">
        <shared-logo-icon text="GitHub" iconName="icon-github" />
        <shared-logo-icon text="LinkedIn" iconName="icon-in" />
        <shared-logo-icon text="Instagram" iconName="icon-ig" />
      </div>
    </div>
    <!-- </div> -->
  </section>
</main>
