.section-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-size: cover;
  background-position: top;
  position: relative;
  height: 95vh;
  // transform: translateY(-100px);

  // z-index: -1;

  background-image: linear-gradient(
      to right bottom,
      rgba(#4a06f6, 0.5),
      rgba(#1e0069, 0.7)
    ),
    url("../../../assets/images/bg-hero-02.jpg");

  &__box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
  }

  &__buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  h3 {
    margin-top: 5rem;
  }
}

.section-about {
  &__image-text-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__text {
    width: 50%;

    p {
      width: 75%;
    }
  }

  &__image {
    height: 100%;
    width: 50%;
    object-fit: cover;
    object-position: center;
  }

  &__social {
    display: flex;
    gap: 4rem;
  }

  &__info-container {
    // background-color: #1e0069;
    grid-column: cennbhgter-start / center-end;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: auto auto;
    grid-gap: 2rem;
  }

  &__info {
    &__hobby-grid {
      width: 75%;
      grid-column: center-start / center-end;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // grid-template-rows: auto auto;
      // grid-gap: 5rem;
      grid-row-gap: 3rem;
      grid-column-gap: 5rem;
    }

    &__lang {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.align-grid-to-center {
  display: flex;
  justify-content: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  margin-bottom: 1.5rem;

  strong {
    color: white;
    font-size: var(--default-font-size);
  }
}

.language-item {
  display: flex;
  align-items: center;
  gap: 1rem;

  __flag {
  }

  __text {
  }
}

.section-skills {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2rem;

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  &__grid-container {
  }
}

.skills-grid {
  grid-column: cennbhgter-start / center-end;

  display: grid;
  // grid-template-rows: auto auto;
  grid-gap: 2rem;
  margin-bottom: 5rem;
  // background-color: #4a06f6;
  column-gap: 5rem;

  // align-items: center;
  // justify-content: center;
  // align-self: center;
}

.skills-frontend {
  grid-template-columns: repeat(5, 1fr);
}

.skills-backend {
  grid-template-columns: repeat(6, 1fr);
}

.skills-programming {
  grid-template-columns: repeat(6, 1fr);
}

.skills-tools {
  grid-template-columns: repeat(6, 1fr);
}

.skills-design {
  grid-template-columns: repeat(4, 1fr);
}

.skills-games {
  grid-template-columns: repeat(3, 1fr);
}

.skills-other {
  grid-template-columns: repeat(6, 1fr);
}

.section-projects {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2rem;
}

.footer {
  display: flex;
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-top: 5rem;
  background-color: #1e0069;

  justify-content: center;
  align-items: center;
}
