@import "../../../scss/mixins.scss";

.separator {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-size: cover;
  background-position: top;
  position: relative;
  height: 100vh;

  background-image: linear-gradient(
      to bottom,
      rgba(8, 9, 29, 0.7),
      rgba(8, 9, 29, 0.7)
    ),
    linear-gradient(
      to bottom,
      rgba(8, 9, 29, 0.8) 0%,
      rgba(8, 9, 29, 0) 20%,
      rgba(8, 9, 29, 0) 80%,
      rgba(8, 9, 29, 1) 100%
    ),
    url("../../../assets/images/bg-hero-04.webp");

  &__box {
    // background-color: rgb(201, 91, 91);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -30%);

    text-align: center;

    @include respond(tab-port) {
      width: 80%;
    }

    @include respond(phone) {
      width: 90%;
    }
  }

  &__buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  h3 {
    margin-top: 5rem;
  }
}

.section-about {
  &__image-text-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__imgbox {
    position: relative;
    width: 50%;
    height: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    text-align: justify;
    gap: 2rem;

    @include respond(tab-port) {
      gap: 2rem;
    }

    p {
      width: 75%;
    }
  }

  &__image,
  &__image-splash {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    object-position: center;
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &__image-splash {
    z-index: -1;
  }

  &__social {
    display: flex;
    gap: 4rem;
  }

  &__info-container {
    // background-color: red;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;

    margin-top: 3rem;
    justify-content: center;
    align-items: start;
    width: 90%;

    @include respond(tab-port) {
      width: 80%;
      display: flex;
      flex-direction: column;
    }
  }

  @include respond(tab-port) {
    &__image-text-container {
      flex-direction: column;
      height: auto;
    }

    &__imgbox {
      // background-color: rebeccapurple;
      width: 100%;
      height: 50vh;
    }

    &__text {
      // background-color: chartreuse;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80vw;

      p {
        width: 100%;
        text-align: justify;
      }
    }
  }

  &__info {
    &__education,
    &__achievements,
    &__hobbies,
    &__lang {
      width: 100%;
    }

    @include respond(tab-port) {
      &__education,
      &__achievements,
      &__hobbies,
      &__lang {
        background-color: transparent;
        width: 90%;
      }
    }

    &__hobby-grid {
      // width: 90%;
      grid-column: center-start / center-end;

      margin-top: 1rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 3rem;
      grid-column-gap: 5rem;

      @include respond(phone) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

.align-grid-to-center {
  display: flex;
  justify-content: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  margin-bottom: 1.5rem;

  strong {
    color: white;
    font-size: var(--default-font-size);
  }
}

.language-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;

  &__text {
    strong {
      color: var(--color-white);
    }
  }
}

.section-skills {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2rem;

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}

.skills-grid {
  display: grid;
  grid-gap: 2rem;
  margin-top: 2rem;
  column-gap: 5rem;
}

.section-projects {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2rem;

  &__buttons {
    display: flex;
    gap: 2rem;
  }
}

.section-contact {
  margin-top: 5rem;
  // background-color: rebeccapurple;
  display: flex;
  flex-direction: column;

  .contact-heading {
    display: flex;
    justify-content: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: normal;
    gap: 2rem;
  }

  &__heading {
    h2 {
      font-size: 3rem;
      line-height: 3.5rem;
      margin-top: 1.5rem;
      margin-bottom: 3rem;
    }
  }

  &__form {
    width: 50%;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .info-item {
    width: 35rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 20rem;
    background-color: #1c1a1e;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .copy-btn {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;

      .icon {
        fill: #333; // Adjust color as needed
      }
    }

    .info-text-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }
}
