<main>
  <section id="hero" class="section-hero">
    <div class="section-hero__box">
      <h1 class="section-hero__heading">
        Transformando Ideas en Experiencias Digitales Únicas
      </h1>
      <h3>
        Practicante de Ingeniero en Sistemas y Computación, Desarrollador Full
        Stack Junior & Diseñador UI/UX
      </h3>
      <div class="section-hero__buttons">
        <shared-button
          (buttonClick)="goToSection('projects')"
          textContent="Mis Proyectos"
          buttonType="primary"
        ></shared-button>
        <shared-button
          (buttonClick)="goToSection('about')"
          textContent="Conóceme"
          buttonType="secondary"
        ></shared-button>
      </div>
    </div>
  </section>

  <section id="about" class="section-about">
    <div class="section-about__image-text-container">
      <img
        src="../../../assets/images/sk-photo.png"
        alt=""
        class="section-about__image"
      />
      <div class="section-about__text">
        <shared-section-heading textContent="sobre mi"></shared-section-heading>
        <p class="paragraph">
          ¡Hola! Soy Omar Medina, estudiante de Ingeniería en Sistemas y
          Computación en la Universidad Tecnológica de Panamá, con 24 años de
          edad. Apasionado por la tecnología, tengo experiencia en el desarrollo
          de aplicaciones móviles, de escritorio, y webs, además de trabajar con
          bases de datos y sistemas de recomendación. He creado videojuegos en
          Unity y desarrollado backends en NodeJS usando NestJS. Estoy
          especialmente interesado en UI/UX, desarrollo de videojuegos y
          aplicaciones móviles.
        </p>
        <div class="section-about__social">
          <shared-logo-icon
            url="https://github.com/SnakeHacKx"
            text="GitHub"
            iconName="icon-github"
          />
          <shared-logo-icon
            url="https://www.linkedin.com/in/omar-medina-ing/"
            text="LinkedIn"
            iconName="icon-in"
          />
          <shared-logo-icon
            url="https://www.instagram.com/snakehackx/"
            text="Instagram"
            iconName="icon-ig"
          />
        </div>
      </div>
    </div>
    <div class="align-grid-to-center">
      <div class="section-about__info-container">
        <div class="section-about__info__education">
          <h2>Educación</h2>
          <div class="info-item">
            <strong>Ingeniería en Sistemas y Computación</strong>
            <p>Universidad Tecnológica de Panamá / Azuero / 2018 - presente</p>
          </div>

          <div class="info-item">
            <strong>ELS Language Centers</strong>
            <p>After School Program / ACP Las Tablas / 2017</p>
          </div>

          <div class="info-item">
            <strong>Educación Secundaria - Bachillerato Científico</strong>
            <p>Colegio Manuel María Tejada Roca / Las Tablas / 2012 - 2017</p>
          </div>

          <div class="info-item">
            <strong>Educación Primaria</strong>
            <p>Escuela Presidente Porras / Las Tablas / 2012 - 2017</p>
          </div>
        </div>

        <div class="section-about__info__achievements">
          <h2>Logros</h2>
          <div class="info-item">
            <strong>Olimpiadas de Física a nivel regional</strong>
            <p>2017 / Pasé de ronda</p>
          </div>

          <div class="info-item">
            <strong>Olimpiadas de Física a nivel nacional</strong>
            <p>2017</p>
          </div>

          <div class="info-item">
            <strong>Concurso Cybertech Latin America - TechPrendedores</strong>
            <p>Proyecto <a href="#">FindAPro</a> / Segundo Lugar / 2023</p>
          </div>
        </div>

        <div class="section-about__info__hobbies">
          <h2>Aficiones</h2>
          <div class="section-about__info__hobby-grid">
            <shared-logo-icon text="Programación" iconName="icon-programming" />
            <shared-logo-icon
              text="Diseño Gráfico"
              iconName="icon-graphic-design"
            />
            <shared-logo-icon
              text="Aprendizaje de Idiomas"
              iconName="icon-language-learning"
            />
            <shared-logo-icon text="Videojuegos" iconName="icon-videogames" />
            <shared-logo-icon text="Fútbol" iconName="icon-football" />
            <shared-logo-icon text="Música" iconName="icon-music" />
            <shared-logo-icon text="Cocina" iconName="icon-cooking" />
          </div>
        </div>

        <div class="section-about__info__lang">
          <h2>Idiomas</h2>
          <div class="language-item">
            <div class="language-item__flag">
              <shared-logo-icon iconName="icon-flag-pan" />
            </div>
            <div class="language-item__text">
              <strong>Español</strong>
              <p>Nativo</p>
            </div>
          </div>

          <div class="language-item">
            <div class="language-item__flag">
              <shared-logo-icon iconName="icon-flag-usa" />
            </div>
            <div class="language-item__text">
              <strong>Inglés</strong>
              <p>Intermedio</p>
            </div>
          </div>

          <div class="language-item">
            <div class="language-item__flag">
              <shared-logo-icon iconName="icon-flag-jp" />
            </div>
            <div class="language-item__text">
              <strong>Japonés</strong>
              <p>Básico (iniciando estudio)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="skills" class="section-skills">
    <shared-section-heading textContent="habilidades"></shared-section-heading>

    <shared-tabs
      [tabs]="skillsTabs"
      (onTabChanged)="skillTabChanged($event)"
    ></shared-tabs>

    <div class="section-skills__grid-container">
      <div class="skills-grid skills-frontend" *ngIf="skillTabIndex == 0">
        <shared-logo-icon
          customClass="icon-skill"
          text="HTML"
          iconName="icon-html"
        />
        <shared-logo-icon
          customClass="icon-skill"
          text="CSS"
          iconName="icon-css"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://sass-lang.com/"
          text="SASS"
          iconName="icon-sass"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://angular.dev/"
          text="Angular"
          iconName="icon-angular"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://flutter.dev/"
          text="Flutter"
          iconName="icon-flutter"
        />
      </div>

      <div class="skills-grid skills-backend" *ngIf="skillTabIndex == 1">
        <shared-logo-icon
          customClass="icon-skill"
          url="https://nodejs.org/en"
          text="NodeJS"
          iconName="icon-node"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://nestjs.com/"
          text="NestJS"
          iconName="icon-nest"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://graphql.org/"
          text="GraphQL"
          iconName="icon-graphql"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://www.mongodb.com/"
          text="MongoDB"
          iconName="icon-mongo"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://www.postgresql.org/"
          text="PostgreSQL"
          iconName="icon-postgres"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://www.microsoft.com/en-us/sql-server/sql-server-downloads"
          text="SQL Server"
          iconName="icon-sql-server"
        />
      </div>

      <div class="skills-grid skills-programming" *ngIf="skillTabIndex == 2">
        <shared-logo-icon
          customClass="icon-skill"
          url="https://dotnet.microsoft.com/en-us/languages/csharp"
          text="C#"
          iconName="icon-csharp"
        />
        <shared-logo-icon
          customClass="icon-skill"
          text="C++"
          iconName="icon-c++"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://dart.dev/"
          text="Dart"
          iconName="icon-dart"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://www.python.org/"
          text="Python"
          iconName="icon-python"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://www.typescriptlang.org/"
          text="TypeScript"
          iconName="icon-ts"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://www.javascript.com/"
          text="JavaScript"
          iconName="icon-js"
        />
        <shared-logo-icon
          customClass="icon-skill"
          text="Visual Basic .NET"
          iconName="icon-vb"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://www.arduino.cc/"
          text="Arduino"
          iconName="icon-arduino"
        />
      </div>

      <div class="skills-grid skills-design" *ngIf="skillTabIndex == 3">
        <shared-logo-icon
          customClass="icon-skill"
          url="https://helpx.adobe.com/support/xd.html?mv=other&promoid=YP7XGDMW"
          text="Adobe XD"
          iconName="icon-adobexd"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://www.blender.org/"
          text="Blender"
          iconName="icon-blender"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://www.figma.com/"
          text="Figma"
          iconName="icon-figma"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://www.adobe.com/products/photoshop.html"
          text="Photoshop"
          iconName="icon-ps"
        />
      </div>

      <div class="skills-grid skills-tools" *ngIf="skillTabIndex == 4">
        <shared-logo-icon
          customClass="icon-skill"
          url="https://www.docker.com/"
          text="Docker"
          iconName="icon-docker"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://git-scm.com/"
          text="Git"
          iconName="icon-git"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://code.visualstudio.com/"
          text="VS Code"
          iconName="icon-vscode"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://visualstudio.microsoft.com/"
          text="Visual Studio"
          iconName="icon-vs"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://www.postman.com/"
          text="Postman"
          iconName="icon-postman"
        />
        <shared-logo-icon
          customClass="icon-skill"
          url="https://www.microsoft.com/en-us/power-platform/products/power-bi"
          text="Power BI"
          iconName="icon-powerbi"
        />
      </div>

      <div class="skills-grid skills-games" *ngIf="skillTabIndex == 5">
        <shared-logo-icon
          customClass="icon-skill"
          url="https://unity.com/"
          text="Unity"
          iconName="icon-unity"
        />
        <shared-logo-icon
          customClass="icon-skill"
          text="Game Design Document"
          iconName="icon-gdd"
        />
        <shared-logo-icon
          customClass="icon-skill"
          text="Diseño de Videojuegos"
          iconName="icon-game-design"
        />
      </div>

      <div class="skills-grid skills-other" *ngIf="skillTabIndex == 6">
        <shared-logo-icon
          customClass="icon-skill"
          text="Comprometido"
          iconName="icon-commited"
        />
        <shared-logo-icon
          customClass="icon-skill"
          text="Liderar Proyectos"
          iconName="icon-leader"
        />
        <shared-logo-icon
          customClass="icon-skill"
          text="Aprender"
          iconName="icon-learn"
        />
        <shared-logo-icon
          customClass="icon-skill"
          text="Enseñar"
          iconName="icon-teach"
        />
        <shared-logo-icon
          customClass="icon-skill"
          text="Organizado"
          iconName="icon-organized"
        />
        <shared-logo-icon
          customClass="icon-skill"
          text="Trabajo en Equipo"
          iconName="icon-teamwork"
        />
      </div>
    </div>
  </section>

  <section id="projects" class="section-projects">
    <shared-section-heading textContent="proyectos"></shared-section-heading>

    <shared-tabs
      [tabs]="projectTabs"
      (onTabChanged)="projectTabChanged($event)"
    ></shared-tabs>

    <shared-project-slider
      [projects]="mobileAppsProjects"
      *ngIf="projectTabIndex == 0"
    />

    <shared-project-slider
      [projects]="backendProjects"
      *ngIf="projectTabIndex == 1"
    />

    <shared-project-slider
      [projects]="webPagesProjects"
      *ngIf="projectTabIndex == 2"
    />

    <shared-project-slider
      [projects]="designProjects"
      *ngIf="projectTabIndex == 3"
    />

    <shared-project-slider
      [projects]="gamesProjects"
      *ngIf="projectTabIndex == 4"
    />

    <shared-project-slider
      [projects]="engineeringProjects"
      *ngIf="projectTabIndex == 5"
    />

    <shared-project-slider
      [projects]="machineLearningProjects"
      *ngIf="projectTabIndex == 6"
    />

    <shared-project-slider
      [projects]="otherProjects"
      *ngIf="projectTabIndex == 7"
    />
  </section>

  <section id="contact" class="section-contact">Contacto</section>

  <footer class="footer">FOOTER</footer>
</main>
