body {
  font-family: "Tomorrow", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-dark-grey);
  box-sizing: border-box;
}

h1 {
  color: var(--color-white);
  backface-visibility: hidden; /* Para que no se mueva raro cuando termina la animacion */
  font-family: "Inter", sans-serif;
  font-size: 6.4rem;

  animation: moveInRight 1s ease-out;
}

h2 {
  color: var(--color-white);
  backface-visibility: hidden;
  font-family: "Inter", sans-serif;
  font-size: 4rem;

  animation: moveInRight 1s ease-out;
}

h3 {
  color: var(--color-white);
  backface-visibility: hidden;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;

  animation: moveInRight 1s ease-out;
}
