@import "mixins.scss";

body {
  font-family: "Tomorrow", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-dark-grey);
  font-size: var(--default-font-size);
  box-sizing: border-box;
}

h1 {
  color: var(--color-white);
  backface-visibility: hidden; /* Para que no se mueva raro cuando termina la animacion */
  font-family: "Inter", sans-serif;
  font-size: 6.4rem;
  line-height: 8rem;

  animation: moveInRight 1s ease-out;

  @include respond(phone) {
    font-size: 4rem;
    line-height: 5rem;
  }
}

h2 {
  color: var(--color-white);
  backface-visibility: hidden;
  font-family: "Inter", sans-serif;
  font-size: 3rem;

  animation: moveInRight 1s ease-out;
}

h3 {
  color: var(--color-white);
  backface-visibility: hidden;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;

  animation: moveInRight 1s ease-out;
}

.heading-gradient {
  background: linear-gradient(
    to right,

    // #ea98da 0%,
    // #5b6cf9 100%

    #7F00FF 0%,
    #E100FF 100%

    // #ea98da 0%,
    //  #c471ed 50%,
    // #5b6cf9 100%
  );

  background-clip: text;
  color: transparent;
  display: inline-block;
}

.link {
  color: var(--color-primary-light);
  text-decoration: none;

  &:visited {
    color: var(--color-primary-light);
  }

  &:hover {
    color: var(--color-primary);
  }
}

.hero-gradient {
  background: linear-gradient(
    to right,
    #12c2e9 0%,
    #c471ed 50%,
    #f64f59 100% // #feac5e 0%,
    // #c779d0 50%,
    // #4bc0c8 100%
    // #00F260 0%,
    // #0575E6 100%,
  );

  background-clip: text;
  color: transparent;
}
